@page
@model MyProjectHW1.Pages.search_resultsModel
@{
    }
<!DOCTYPE html>
<html>
<head>
    <title>Hiking Search Results</title>
    <link rel="stylesheet" href="indexstyles.css">
</head>
<body>

    <h1>Hiking Search Results</h1>

    <!-- Apply the custom-table class to the table -->
    <table class="custom-table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Location </th>
                <th> Difficulty </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Trail 1</td>
                <td>Location 1</td>
                <td>Easy </td>
            </tr>
            <tr>
                <td>Trail 2</td>
                <td>Location 2</td>
                <td>Medium </td>
            </tr>
        </tbody>
    </table>
    <h3> Click the links below to see local hiking areas</h3>
    <a href="https://wvstateparks.com/park/coopers-rock-state-forest/" target="_blank">Go to Coopers Rock</a><br />
    <a href="https://wvdnr.gov/wmamapproj/pdf/pdf300/SnakeHillFinal11x17_300dpi.pdf" target="_blank">Go to Map of Snake Hill</a>
    <h3> Thanks for Visting!</h3>
</body>
</html>



